@import '../../breakpoints', '../../fontSizes';

.detail-container {
  @media only screen and (max-width: $BP_M_MAX) {
    margin: 0 1rem 1rem 1rem;
  }
}

.detail-container > .item-title {
  width: 100%;
  font-size: $h3;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 3rem;
  @media only screen and (max-width: $BP_M_MAX) {
    font-size: $base;
  }
}

.details-inner {
  display: flex;
  @media only screen and (min-width: $BP_M_MIN) {
    flex-flow: row;
  }
  @media only screen and (max-width: $BP_M_MAX) {
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
}

.details-inner > .img {
  display: flex;
  border-radius: 6px;
  @media only screen and (min-width: $BP_M_MIN) {
    margin-right: 4rem;
    height: auto;
    width: 30%;
    min-width: 300px;
    max-width: 450px;
  }
  @media only screen and (max-width: $BP_M_MAX) {
    margin-bottom: 1rem;
    height: 282px;
    width: 192px;
  }
}

.text-details {
  @media only screen and (min-width: $BP_M_MIN) {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    max-width: 35rem;
  }
  width: 100%;
}

.text-details > .description {
  display: flex;
  @media only screen and (max-width: $BP_M_MAX) {
    margin: 1rem 0;
  }
}

.text-details > .details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  @media only screen and (max-width: $BP_M_MAX) {
    margin: 1rem 0;
  }
}

.text-details > .rating {
  display: flex;
  align-items: center;
}

.detail-header {
  font-size: $base;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.related-container {
  @media only screen and (min-width: $BP_M_MIN) {
    margin-top: 8rem;
  }
  @media only screen and (max-width: $BP_M_MAX) {
    margin-top: 2rem;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.slow_reveal {
  animation-duration: 1.8s;
  animation-name: reveal;
  animation-timing-function: ease-in;
}
