@import '../../breakpoints', '../../fontSizes';

.category-header {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  cursor: pointer;
}

.click {
  cursor: pointer;
}

.category-header__title {
  @media only screen and (min-width: $BP_S_MIN) {
    font-size: $h3;
  }
  @media only screen and (max-width: $BP_S_MAX) {
    font-size: $base;
    margin-left: 0.5rem;
  }
}

.category-header__subtitle {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: inline-flex;
  align-items: baseline;
  margin-left: 0.5rem;
  cursor: pointer;
}

.category-header__subtitle__nohover {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  align-items: baseline;
  display: inline-flex;
  margin-left: 0.5rem;
}

.category-header__subtitle:hover {
  opacity: 0.5;
}

.category-header__subtitle-text {
  font-size: $h3;
}

.category-header__icon {
  opacity: 0.5;
}
