@import '../../breakpoints', '../../colors';

.mobile-menu-wrapper {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background: #edededf2;
  width: 100%;
  padding: 1px 0;
  @media only screen and (min-width: $BP_M_MIN) {
    display: none;
  }
  &.dark {
    background: #202020f2;
  }
}
