@import '../../../colors';

.mode_switch_img {
  max-width: 16px;
  max-height: 16px;
  position: absolute;
  top: -3px;
  left: -2px;
}

.react-toggle--checked .react-toggle-track {
  background-color: $color-text-LM !important;
  &:hover {
    background-color: $color-dark-grey !important;
  }
}

.react-toggle--checked .react-toggle-thumb {
  border-color: transparent;
}
