@import '../../breakpoints', '../../fontSizes', '../../colors';

.headerOptions-container {
  display: flex;
  margin: 0.375rem 0;
  @media only screen and (min-width: $BP_M_MIN) {
    width: 12rem;
    justify-content: space-between;
  }
  @media only screen and (max-width: $BP_M_MAX) {
    margin-top: 1rem;
    width: 100%;
    justify-content: space-around;
  }
}

.headerOptions-container > .option {
  font-size: $base;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  cursor: pointer;
}

.headerOptions-container > .option--selected::after {
  content: '';
  height: 2px;
  top: -8px;
  background: $color-after-purple;
  position: relative;
  width: 100%;
  display: inline-block;
}

.headerOptions-container > .option:active {
  font-weight: 600;
}

.headerOptions-container > .option--selected {
  font-weight: 600;
}
