@import '../../colors';

.title-container {
  display: flex;
  justify-content: space-between;
  color: $color-text-LM;
  transition: color 0.2s ease-out 0s;
  &.dark {
    color: $color-text-DM;
  }

  @media only screen and (min-width: 416px) {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 414px) {
    margin: 1.3rem 1rem 1rem 1rem;
  }
}

.header-title {
  font-size: 1.5rem;
  width: max-content;
  display: flex;
  margin-bottom: 0.438rem;
  cursor: pointer;
  user-select: none;
}

.header-title > .title-1 {
  font-weight: 600;
}

.header-title > .title-2 {
  margin-left: 6px;
}

.personal_link {
  font-size: 0.7rem;
  opacity: 0.7;
  text-decoration: none;
  &.dark {
    color: $color-text-DM;
  }
  color: #232323;
}
