.back-container {
	padding-bottom: 1.4rem;
}

.back-button {
	display: flex;
	// position: relative;
	cursor: pointer;
	margin: 0.375rem 0;
	// top: 0;
}

.back-button > .back {
	width: 9.063rem;
	height: 1rem;
	font-family: Helvetica;
	font-size: 1rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.19;
	letter-spacing: normal;
	text-align: left;
	color: #bababa;
	margin-left: 8px;
}
