.header-container {
	display: flex;
	margin-top: 4rem;
	margin-bottom: 2.875rem;
	flex-flow: column;
	@media only screen and (min-width: 416px) {
		margin-top: 4rem;
		margin-bottom: 2.875rem;
	}
	@media only screen and (max-width: 414px) {
		// margin-top: 1.3rem;
		// margin-bottom: 1rem;
		margin: 1.3rem 1rem 1rem 1rem;
	}
}

.header-container > .header-title {
	font-size: 1.5rem;
	color: #707070;
	width: max-content;
	display: flex;
	margin-bottom: 0.438rem;
	cursor: pointer;
	user-select: none;
}

.header-title > .title-1 {
	font-weight: 600;
}

.header-title > .title-2 {
	margin-left: 6px;
}
