.scroller {
	// margin: 0 -390px;
}

.movie-horizontal-grid {
	display: grid;
	align-items: center;
}

.movie-horizontal-grid > * {
	grid-column: 2 / -2;
}

.movie-horizontal-grid > .full {
	grid-column: 1 / -1;
}

.hs {
	display: grid;
	grid-gap: 25px;
	grid-auto-flow: column;
	grid-auto-columns: calc(50% - var(--gutter) * 2);
	grid-template-rows: minmax(150px, 1fr);
	padding: 0 20px;
}

.hs-scroll {
	overflow-x: scroll;
	height: calc(100% + 50px);
	align-items: center;
	scrollbar-width: none;
	overflow-y: hidden;
}

.hs-scroll::-webkit-scrollbar {
	width: 0;
}

.hs::before,
.hs::after {
	content: ‘’;
	width: 10px;
}
