.movie-horizontal-grid {
	display: grid;
	// grid-template-columns: 20px 1fr 20px;
	align-items: center;
	// @media only screen and (min-width: 416px) {
	// 	font-size: 24px;
	// }
	// @media only screen and (max-width: 414px) {
	// 	font-size: 1rem;
	// }
}

.movie-horizontal-grid > * {
	grid-column: 2 / -2;
}

.movie-horizontal-grid > .full {
	grid-column: 1 / -1;
}

.hs {
	display: grid;
	grid-gap: 25px;
	// grid-template-columns: repeat(6, calc(50% - 40px));
	// grid-template-columns: 10px;
	grid-auto-flow: column;
	grid-auto-columns: calc(50% - var(--gutter) * 2);
	grid-template-rows: minmax(150px, 1fr);
	padding: 0 20px;
}

.hs-scroll {
	overflow-x: scroll;
	height: calc(100% + 50px);
	align-items: center;
	scrollbar-width: none;
	overflow-y: hidden;
	// padding-bottom: 2rem;
}

.hs::before,
.hs::after {
	content: ‘’;
	width: 10px;
}

// width: calc(100% + 40%);
// position: relative;
// left: -170px;
// padding: 0 30px;
