.results {
	display: flex;
	margin-bottom: 3rem;
}

.results > .text {
	font-size: 1.5rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.21;
	letter-spacing: normal;
	text-align: left;
	color: #bababa;
}

.results > .query {
	font-size: 1.5rem;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.21;
	letter-spacing: normal;
	text-align: left;
	color: #707070;
	padding-left: 1rem;
}
