.search-options {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin: 2rem 0;
	flex-grow: inherit;
}

.search-page-placeholder {
	@media only screen and (max-width: 414px) {
		margin-left: 1rem;
	}
}
.search-no-results {
	@media only screen and (max-width: 414px) {
		margin-left: 1rem;
	}
}
