@import '../../breakpoints';

.search-options {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 2rem 0;
  flex-grow: inherit;
}

.search-page-placeholder {
  @media only screen and (max-width: $BP_M_MAX) {
    margin-left: 1rem;
  }
}
.search-no-results {
  @media only screen and (max-width: $BP_M_MAX) {
    margin-left: 1rem;
  }
}

.movie-grid {
  display: grid;
  justify-items: center;

  @media only screen and (min-width: $BP_M_MIN) {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-row-gap: 68px;
    grid-column-gap: 68px;
  }
  @media only screen and (max-width: $BP_M_MAX) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 0;
  }
  grid-template-rows: auto;
}
