@import '../../breakpoints', '../../colors';

.close-button-container {
  margin-left: auto;
}

.close-button {
  background-color: $color-white;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0;
  display: flex;
  place-items: center;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  @media only screen and (max-width: $BP_M_MAX) {
    margin-right: 0.5rem;
  }
  &.dark {
    background-color: $color-text-LM !important;
  }
}

.close-button:hover {
  background-color: $color-text-DM;
  &.dark {
    background-color: $color-text-LM !important;
  }
}
