.search {
  cursor: pointer;
  border: 0;
  background: transparent;
  @media only screen and (min-width: 416px) {
    margin-left: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  @media only screen and (max-width: 414px) {
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

.search-label {
  font-size: 1rem;
  @media only screen and (min-width: 416px) {
    padding-left: 0.5rem;
  }
  @media only screen and (max-width: 414px) {
    display: none;
  }
}
