@import '../../fontSizes', '../../breakpoints', '../../colors';

.search-bar {
  @media only screen and (min-width: $BP_M_MIN) {
    padding: 0.938rem 1.063rem 0.813rem 1.5rem;
    width: 35.125rem;
    height: 2rem;
  }
  @media only screen and (max-width: $BP_M_MAX) {
    padding: 0.938rem 2.6rem 0.813rem 0.7rem;
    margin-left: 1rem;
  }
  border-radius: 6px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: solid 1px $color-white;
  background-color: $color-white;
  display: flex;
  align-items: center;
  &.dark {
    border: solid 1px $color-text-LM;
    background-color: $color-text-LM;
  }
}

.search-bar > .placeholder-text {
  font-size: $base;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: $color-text-LM;
}

.search-bar > .ph-size {
  border: none;
  @media only screen and (min-width: $BP_M_MIN) {
    width: 35.125rem;
    height: 2rem;
  }
  @media only screen and (max-width: $BP_M_MAX) {
    width: 100%;
    height: 1.3rem;
  }
}
