@import 'colors';

.App {
  @media only screen and (min-width: 1248px) {
    width: 1228px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 1246px) {
    width: 904px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 920px) {
    width: 100%;
    margin: 0 auto;
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: 0 auto;
  }
}

.offline-notification-bar {
  background-color: $color-after-purple;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
